<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Prediction</title>
</head>
<body>
    <h2>Price Predition</h2>
    <form  method="POST" action="/Predict">
        <label for="">City:</label>
        <select name="City" id="city">
        <option value="Bangalore">Bangalore</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Goa">Goa</option>
        <option value="Delhi">Delhi</option>
        </select>
        <br><br>
        <label for="">Room Type</label>
        <select name="Room Type" id="Room Type">
            <option value="Entire Home">Entire Home</option>
            <option value="Shared Room">Shared Room</option>
            <option value="Private Room">Private Room</option>

        </select>
        <br><br>
        <label for="">Bedrooms</label>
        <input type="number" name="Bedrooms" min="1" max="5" required><br><br>
        <label for="">Bathrooms</label>
        <input type="number" name="Bathrooms" min="1" max="5" required><br><br>
        <label for="">GuestsCapacity</label>
        <input type="number" name="GuestsCapacity" min="1" max="9" required><br><br>
        <label for="">HasWifi</label>
        <input type="number" name="HasWifi" min="0" max="1" required><br><br>
        <label for="">HasAc</label>
        <input type="number" name="HasAc" min="0" max="1" required><br><br>
        <label for="">DistanceFromCityCenter</label>
        <input type="number" name="DistanceFromCityCenter" min="1" max="100" required><br><br>
        <label for="">PricePerNight</label>
        <input type="number" name="PricePerNight" min="1" max="20000" required><br><br>
        <button>submit</button>
    
    </form>
    {%if prediction_text %}
    <h3>{{ prediction_text }}</h3>
    {% endif %}

</body>
</html>